@import '../../styles/colors.import'

.product-block
  &.default
    padding 2%
    .inner
      height 300px
      border-radius 4px
      overflow hidden
      .product-img
        height 220px
        overflow hidden
        text-align center

      .product-name-price
        margin-top 15px

        .product-name-price-text
          margin 0
          padding 2% 0
          text-align center

          .product-name
            overflow hidden



