@import '../../styles/colors.import'

.product-form-div

  h1
    font-family: 'gotham'
  .product-form
    .form-section
      // height 550px
      // overflow scroll
  .section-buttons-div
    border: 2pt solid black;
    height: 100%;
    border-right: none;
    border-bottom: 2pt solid black;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    .section-button
      padding 0
      border-right: 2pt solid black;
      .btn
        height 100%
        width 100%
        border-radius 0
        border none
        box-shadow none
        &.active
          background blue
          color white

// #productForm
//   .product-form-div
//     form.product-form