<template name="productShow">
  <div class="col-sm-12">
    <section class="col-sm-7" id="productImagesBlock">
    </section>
    <section class="col-sm-5" id="productDetailBlock">
    </section>
  </div>
</template>

<template name="adminProductsIndex" >
  <div class="col-sm-12">
    <a class="col-sm-12" href="/admin/product_groups">Back to Product Groups </a>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-4" id="productGroupBlock"></div>
    <div class="col-sm-6 pull-right" id="productForm"></div>
  </div>
</template>

<template name="productsIndex" >
  <div class="row">
    <div class="col-sm-12" id="productsIndexBlock"></div>
  </div>
</template>