@import '../../styles/colors.import'

#productGroupForm
  height 100%
  padding 2%
  padding-top 0%
  box-sizing border-box
  .form-section
    border 1pt solid black
    padding-top 30px
    padding-bottom 0px

  label
    font-size 12pt
  .form-control
    height auto
    font-size 12pt
    &.btn
      line-height initial
    &.btn-success
      line-height 30pt
