.navbar-inner {
  background: transparent !important;
  border-bottom: 3pt solid #333;
  border-radius: 0px;
  padding: 1%;
}

.currentProductGroup {
  background: #78E778;

}

h1, h2, h3, h4 {
  // margin-top: 0px;
}