@import 'colors'

#productGroupForm {
  height: 100%;
  padding: 2%;
  padding-top: 0%;
  box-sizing: border-box;
  .input-div {
    margin-top: 20px;
    &.rule-div {
      border: 1px solid lightgrey;
      padding: 4%;
    }
    .btn {

    }
  }
}

#productGroupsBlock {
  .product-groups-list {
    ul {
      li {
        list-style: none;
      }
      .product-group-row {
        padding: 2%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-bottom: none;
        &.last-true {
          border-bottom: 1px solid #ccc;
        }
        &.editing-true {
          background: #ccc;
          // color: white;
        }
      }
    }
  }
}