@import '../../public/fonts/fonts.import'

h1
  // font-family 'gotham'
  // text-transform uppercase
  // font-weight bold

h2, h3, h4, h5, p, dl, dt
  // font-family 'gotham'

h3
  // font-family 'gotham'

p, dl, dt, label
  // font-family 'gotham'
  font-size 12pt
  font-weight 400

dt
  font-weight 900
  text-align left !important
  max-width: 50%

dd
  margin-left: 110px !important



