@import '../../styles/colors.import'

.cart-block-div
  height 0px
  margin-top: -1px;
  overflow hidden
  -webkit-transition all 0.2s ease
  background black;
  h2
    margin-top 0px
  h1
    margin-top 0px
  &.open
    height 220px

  .cart-section
    padding-top 20px

  .cart-products-div
    .cart-product-block-div
      overflow hidden
      // -webkit-transition all 0.2s ease
      height 180px
      border-radius 4px
      .remove-x
        position relative
        color grey
        font-size 10pt
        float right
        cursor pointer
        margin-right 10px
        z-index 2

      .cart-product-text
        position relative
        background rgba(255, 255, 255, 0.67)
        border-radius 4px
        height 100%
        width 100%
        padding 2%

        margin-top 0
      .cart-product-options-div
        font-size: 12pt;

      .cart-product-img
        width: 100%

  .cart-summary-div
    color white
    height 100%
    .cart-subtotal
      text-align center

  .cart-friends-div
      background #3E467F
      color white
      height 100%
      .cart-friends-header
        text-align center
