.cart-checkout-block
  .cart-products-list
    .cart-product
      padding 20px 0
      position relative
      line-height normal
      border-bottom 1px solid #e6e6e6
      .product-img
        height 70px
        overflow hidden