@import '../../styles/colors.import'

.cart-block-div
  height 0px
  -webkit-transition all 0.2s ease
  overflow hidden
  background black;
  &.open

    height 195px

  .cart-products-div
    padding-top 15px
    padding-bottom 15px
    font-family: gotham;
    .cart-product-block-div
      height 165px
      overflow hidden
      -webkit-transition all 0.2s ease
      .remove-x
        position relative
        color grey
        font-size 10pt
        float right
        cursor pointer
        margin-right 10px
        z-index 2

      .name-price-div
        position relative
        background rgba(255, 255, 255, 0.67)
        height 100%
        width 100%
        padding 2%

        margin-top 0
        .product-name
          font-weight normal
          text-align center
        .product-price
          font-weight bold
          text-align center
      .cart-product-options-div
        display none
        position: absolute;
        top: 50px;
        font-size: 16pt;
        text-align: left;

      .cart-product-img
        width: 100%

  .cart-summary-div
    color white
    height 100%
    .cart-subtotal
      text-align center

  .cart-friends-div
      background #3E467F
      color white
      height 100%
      .cart-friends-header
        text-align center
