@import '../styles/colors.import'

#iron-router-progress
    background-color blue

#master-container
  padding-top 50px

.btn-white
  background-color: white;
  color: #333 !important;

.above-nav
  text-align center
  width 100%
  box-sizing border-box
  .above-nav-logo
    font-size 40pt
    color black
    font-weight bold
    font-family futura

.navbar-center
  float initial
  margin 0
  padding 0
  text-align center
  li
    display inline
    float initial
    a
      display inline-block

a
  cursor pointer
  text-decoration none !important

.navbar
  margin-bottom: 0;
  // border-bottom 2pt solid black
  border: none;
  border-radius 0
  a
    color black
    // font-weight bold


.navbar
  a
    &.active, &:hover
      background transparent !important
    &:hover
      color grey

.centered {
  text-align center;
}

.fit-height {
  height 100%
  width auto
}

.img-cell {
  .img-div {
    width: 80px;
    height: 45px;
    overflow: hidden;
    border: 1pt solid black;
    img {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0;
    }
  }
}

ul {
  list-style: none;
}

a.secondary
  color grey
  h2
    font-weight lighter

.inline-block
  display inline-block

.margin-top
  margin-top 15px

.margin-bottom
  margin-bottom 15px

.padding-top
  padding-top 15px

.padding-bottom
  padding-bottom 15px

#cartBlock.affix-top {
  position: static;
  margin-top:25px;
  width:228px;
}

#cartBlock.affix {
  position: fixed;
  top:25px;
  width:228px;
}

.cartBlock,.affix-top {
   position:static;
}

