@import '../styles/colors.import'
a
  cursor pointer
  text-decoration none !important

.navbar
  margin-bottom: 0;
  // border-bottom 2pt solid black
  border: none;
  border-radius 0
  a
    color black
    font-family futura
    font-weight bold

.form-header-div {
  .form-header {
    margin: 0;
    color: #333;
  }
}

.navbar
  a
    &.active, &:hover
      background transparent !important
    &:hover
      color grey

.centered {
  text-align center;
}

.fit-height {
  height 100%
  width auto
}

.img-cell {
  .img-div {
    width: 80px;
    height: 45px;
    overflow: hidden;
    border: 1pt solid black;
    img {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0;
    }
  }
}

ul {
  list-style: none;
}

a.secondary
  color grey
  font-family gotham
  h2
    font-weight lighter

.inline-block
  display inline-block

li.active
  a.secondary
    background grey !important


input:required:invalid, input:focus:invalid {
  border: 1px solid red;
}

input:required:valid, input:focus:valid {
  border: 1px solid green;
}

img
  &.border
    border 2pt solid black
    padding 2%
  &.radius
    border-radius 4px

.form-section
  padding 6%
  box-sizing border-box
  border 2pt solid black
  margin-bottom 6%
  label
    font-size 16pt

label
 font-size 16pt

input, select
  &.bordered
    border 2pt solid black
  background white
  -webkit-appearance none
  &.option-input
    margin-bottom 2%
  &.fileUploader
    border: none

.form-control, label
  height 40pt
  font-size 16pt
  &.btn
    line-height 30pt

.margin-top
  margin-top 15px

.padding-top
  padding-top 15px

.padding-bottom
  padding-bottom 15px

#cartBlock.affix-top {
  position: static;
  margin-top:25px;
  width:228px;
}

#cartBlock.affix {
  position: fixed;
  top:25px;
  width:228px;
}

.cartBlock,.affix-top {
   position:static;
}

