@import '../../../styles/colors.import'
.checkout-block
  .form-header
    font-weight bold
  overflow hidden
  .order-form-div
    margin-bottom 50px
    margin-top 50px
    .stripe-customer-block
      .stripe-customer-cards-block
        .card-number
          font-size 16pt
          padding-top 2px