<template name="insertProductGroupForm">
  <div class="step-{{currentStepNumber}}">
    <h2> {{formState}} Product Group </h2>
    <h3>{{currentStep.header}} {{currentStep.text}}</h3>

    {{#autoForm schema=productGroupAutoForm doc=currentProductGroup id=currentFormId }}
      {{afQuickField 'name'}}
      {{afQuickField 'category'}}
      {{afQuickField 'description'}}

      <button type="submit" class="btn btn-primary {{#if currentProductGroup}}update{{else}}insert{{/if}}">
        {{#if currentProductGroup}}
          Done Editing
        {{else}}
          Insert Product Group
        {{/if}}
      </button>
    {{/autoForm}}
    {{#if currentProductGroup}}
      <a href="#" class="btn btn-default add-rule"> Add Product Property Rule</a>
    {{/if}}
    {{#each productPropertyRules}}
      {{> productPropertyRuleForm}}
    {{/each}}
  </div>
</template>
