<template name="productForm">
	<div class="product-form-div">

		{{#autoForm schema=productAutoForm doc=currentProduct id=currentFormId }}

			{{#with currentFormHeader}}
				{{>formHeader}}
			{{/with}}

			{{#each properties}}
				<div class="row">
					<div class="col-sm-12">
						<label class="control-label">
							{{propertyName}}
						</label>
					</div>
					<div class="col-sm-12">
						{{afFieldInput propertyHiddenInput autoform=../this value=propertyName type="hidden"}}
						{{afFieldInput propertyInput autoform=../this}}
					</div>
				</div>
			{{/each}}
			{{>productImageForm}}

		{{/autoForm}}
	</div>
</template>
