<template name="productList">
  <div class="product-table-div table-responsive">
    <table class="table">
     <thead>
       <tr>
        {{#each productPropertyRules}}
        <th><h4>{{name}}</h4></th>
        {{/each}}
        <th><h4>Image</h4></th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr class="product-row">
        {{#each properties}}
        <td>{{textValue}}{{numberValue}}</td>
        {{/each}}
        <td class="img-cell">
          <div class="img-div">
            <img class="col-sm-12" src="{{imageUrl images.[0]}}"/>
          </div>
        </td>
        <td>
          <a href="#" class="btn btn-alert delete">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</template>