<template name="productGroupForm">
  <div class="product-group-form-div">

    {{#autoForm schema=productGroupAutoForm doc=currentProductGroup id=currentFormId }}
      {{#with currentFormHeader}}
        {{>formHeader}}
      {{/with}}

      {{afQuickField 'name'}}
      {{afQuickField 'category'}}
      {{afQuickField 'description'}}
      <label class="control-label" for="description">Product Property Rules</label>
      {{#each productPropertyRules}}
      <div class="row product-property-row">
        <div class="col-sm-6">
          {{afFieldInput productPropertyRule.name autoform=../this placeholder="schemaLabel"}}
        </div>
        <div class="col-sm-6">
          {{afFieldInput productPropertyRule.kind autoform=../this placeholder="schemaLabel"}}
        </div>
      </div>
      {{/each}}

      <a href="#" class="btn btn-default add-rule"> Add Product Property Rule</a>

    {{/autoForm}}

  </div>
</template>
